# Eclipse specific #
.metadata
javadoc/
bin/
*.settings

# NetBeans specific #
libraries/hibernate/javadocs
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/build-impl.xml
nbproject/genfiles.properties

# Class Files #
*.class